@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;
    opacity: 1;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #4ff745, #4ff745 1px, #000000 1px, #000000);
}